<div class="container">
    <div class="text-div">
        <h1 style="text-align: center;">
            לא חשובים בכלל
        </h1>
    </div>
    <div class="values-div">
        <mat-card class="sum-card">
            <img class="sum-img" [src]="notImg2">
            <p>
                {{data["rank-set2"].notnot.text}}
            </p>
        </mat-card>
        <mat-card class="sum-card">
            <img class="sum-img" [src]="notImg1">
            <p>
                {{data["rank-set1"].notnot.text}}
            </p>
        </mat-card>
    </div>
    <div class="text-div">
        <h1 style="text-align: center;">
            הכי חשובים
        </h1>
    </div>
    <div class="values-div">
        <mat-card class="sum-card">
            <img class="sum-img" [src]="veryImg2">
            <p>
                {{data["rank-set2"].veryvery.text}}
            </p>
        </mat-card>
        <mat-card class="sum-card">
            <img class="sum-img" [src]="veryImg1">
            <p>
                {{data["rank-set1"].veryvery.text}}
            </p>
        </mat-card>
    </div>
</div>